@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

body{
   background-image:url("image/longaswood28.jpeg");
   background-position: center top;
   background-repeat:repeat-y;
   background-size: 100% auto;
   overflow: auto;
   overflow-x: hidden;
   margin: 0;
 }

 html{
   scroll-behavior: smooth;
 }

 * {
  box-sizing: border-box;
}


.navbar {
       overflow: hidden;
       background-color: rgb(255, 255, 255);
       position: fixed;
       text-align: center;
       top: 0;
       font-size:2em;
       width: 100%;
       height:10%;
}

.navbarB{
       overflow: hidden;
       background-color: rgb(255, 255, 255);
       position:absolute;
       text-align: center;
       bottom:0;
       width: 100%;
       height:10%;
}

/* nav lenad */
.rightB img{
  float:right;
  display: block;
  margin-right:7%;
  width:7.5%;
  height:auto;
  margin-top:-15px;
}

.center img{
    width:7.5%;
    height:auto;
    margin-top:-15px;
}

.leftB img{
     float:left;
     display: block;
     margin-left:7%;
     width:7.5%;
     height:auto;
     margin-top:-15px;
}


.left{
  overflow: hidden;
  float: left;
  color: #ffcc00;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-left:7%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.right{
  float:right;
  display: block;
  color: #ffcc00;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-right:7%;
  font-weight: bold;
}

.right2{
  float:right;
  display: block;
  color:#ffffff;
  background-color:#fac800;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-right:7%;
  font-weight: bold;
}



.exploin{
  position: absolute;
  top:810%;
  color: rgb(71, 46, 46);
  font-family: 'Assistant', sans-serif;
  text-align: center;
  right: 2.5%;
}

.popUpS{
  display: block;
  position:absolute;
  width:40%;
  height:auto;
  top:15%;
  left:31%;
}

.popUpS img{
  width: 100%;
}



@media screen and (max-width: 850px) {
  .popUpS{
    top:15%;
  }
  .exploin{
    top:20%;
    font-size:3em;
    left: 5.5%;
  }
  .navbarB{
    height:5%;
  }
  .leftB img{
       width:8.5%;
       margin-top:-0px;
  }
  .rightB img{
       width:8.5%;
       margin-top:-0px;
  }

  .center img{
    width:7%;
    margin-top:-6.6px;
 }
   .navbar {
     font-size:1em;
     height:4%;
}
}

@media screen and (max-width: 450px) {
  .popUpS{
    top:15%;
  }
  .exploin{
    top: 25%;
    font-size:2em;
    left: 4%;
  }
  .navbarB{
    height:5%;
  }
  .leftB img{
       width:8.5%;
       margin-top:-0px;
  }
  .rightB img{
       width:8.5%;
       margin-top:-0px;
  }

   .navbar {
     font-size:0.75em;
     height:3.5%;
   }
   .center img{
     width:6.5%;
     margin-top:-2px;
}
}

@media screen and (max-width: 375px) {
  .popUpS{
    top:15%;
  }
  .exploin{
    top:25%;
    font-size:2em;
    left: 4%;
  }
  .navbarB{
    height:6%;
  }
  .leftB img{
       width:8.5%;
       margin-top:-0px;
  }
  .rightB img{
       width:8.5%;
       margin-top:-0px;
  }
  .center img{
    width:10.5%;
    margin-top:-0px;
}
   .navbar {
     font-size:0.5em;
     height:3%;
   }
   .center img{
       width:6.5%;
  }
}


@media only screen and (max-width:1920px)and (min-width:1620px) {
  .navbar {
    font-size:2em;
    height:7%;
  }
  .center img{
      width:5%;
}
 .popUpS{
   top:10%;
 }
 .exploin{
   top:25%;
   left:5%;
   font-size:3em;
 }
 .navbarB{
   height:8%;
 }
 .leftB img{
   width:7%;
   margin-top:-25px;
 }
 .rightB img{
      width:7%;
      margin-top:-25px;
 }
}
