@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

/* the main crap */

body{
   background-image:url("image/wood.png"),url("image/big.png");
   background-position: center top,50% 60%;
   background-repeat: no-repeat,repeat-y;
   background-size: 100% auto,100% 400%;
   margin: 0;
   overflow-x: hidden;
 }
 * {
  box-sizing: border-box;
}

/* div */
.mobileDevice{
  display: none;
}
.pcDevice{
  display: block;
}
.discord{
  text-align: center;
  top:14%;
  color: rgb(255, 255, 255);
  margin:0px;
  padding:0px;
  border: 0px;
}

.navbar {
       background-color: rgb(255, 255, 255);
       position: fixed;
       text-align: center;
       top: 0;
       font-size:2em;
       width: 100%;
       height:10%;

}

.dropbtn {
  background-color:#edc009;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-left:1450px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:1em;
  font-family: 'Assistant', sans-serif;
  color: #ffcc00;
  font-weight: bold;
  letter-spacing: 2px;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #edc009;
}

.navbarB{
       overflow: hidden;
       background-color: rgb(255, 255, 255);
       position:absolute;
       text-align: center;
       top:630%;
       width: 100%;
       height:10%;
}

/* class */

.Pawn{
  position:absolute;
  width:17%;
  height:auto;
  top:150%;
  left:42.5%;
}

.Pawn2,.Pawn3{
  position:absolute;
  width:16%;
  height:auto;
  top:153%;
}
.Pawn2{
  left:73.5%;
}
.Pawn3{
  left:13.5%;
}

.text13,.text14,.text15{
  position: absolute;
  top:195%;
  text-align: center;
  font-size:5em;
  font-weight:700;
  color:#471c13;
  font-family: 'Assistant', sans-serif;
}
.text13{
  left:15%;
}

.text14{
  left:47%;
}
.text15{
  left:75%;
}

.text23,.text24,.text25{
  position: absolute;
  top:210%;
  text-align: center;
  font-size:3em;
  font-weight:600;
  color:#471c13;
  font-family: 'Assistant', sans-serif;
}

.text23{
  left:19%;
}

.text24{
  left:47.5%;
}
.text25{
  left:78%;
}

/* גלריה */


.gallery{
  position:absolute;
  top:350%;
  width:100%;
  height:101%;
  left: -5.5%;
}
.img-wrapper {
    display:inline-block;
    overflow: hidden;
}



.img-wrapper img {
  object-fit: cover;
  width:400px;
  height:400px;
  margin:10px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

}

.img-wrapper img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}

.leftIMa{
  margin:30px;
  width:30%;
  height:40%;
  object-fit:cover;
  display:inline-block;
}

.leftIMa img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.leftIMa:hover {
  border:5px solid #0a0a0a;
  cursor: pointer;
}

.left{
  overflow: hidden;
  float: left;
  color: #ffcc00;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-left:7%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.right{
  float:right;
  display: block;
  color: #ffcc00;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-right:7%;
  font-weight: bold;
}


/* simpole text */

.Hex{
  font-size:3.5em;
  font-family: 'Assistant', sans-serif;
  margin-top:12%;
  margin-bottom:0%;
  padding:0px;
  border: 0px;
}

.Dsl{
  font-size:9.5em;
  font-family: 'Assistant', sans-serif;
  margin-top:-5%;
  padding:0px;
  border: 0px;
}

.exploin{
  position: absolute;
  top:500%;
  text-align: center;
  right: 2.5%;
  font-size:3em;
  color: rgb(71, 46, 46);
  font-family: 'Assistant', sans-serif;

}

/* nav lenad */


.center img{
    position: absolute;
    width:7.5%;
    height:auto;
    margin-right: -20px;
    margin-top:-15px;
}

.center2 img{
    position: absolute;
    width:10.5%;
    height:auto;
    right:300px;
    top:-5px;
}

.rightB img{
  float:right;
  display: block;
  margin-right:7%;
  width:7.5%;
  height:auto;
  margin-top:-22px;
}

.centerB img{
  width:7.5%;
  height:auto;
  margin-top:-22px;
}

.leftB img{
  float:left;
  display: block;
  margin-left:7%;
  width:7.5%;
  height:auto;
  margin-top:-22px;
}





/* the pop up images */

.popUpS{
  display: block;
  position:absolute;
  width:40%;
  height:auto;
  top:480%;
  left:31%;
}

.popUpS img{
  width: 100%;
}

.popUpP{
  position:absolute;
  width:50%;
  height:auto;
  top:125%;
  left:26%;
}

.popUpM{
  position:absolute;
  width:20%;
  height:auto;
  top:226%;
  left:39.9%;
}

.popUpG{
  position:absolute;
  width:45%;
  height:auto;
  top:325%;
  left:28%;
}

.popUpG2{
  position:absolute;
  width:45%;
  height:auto;
  top:460%;
  left:18%;
}
/* strip */

.TheStrip{
  position: absolute;
  top:245%;
  height:55%;
  width:100%;
}

.its{
  position: absolute;
  top:238%;
  left:2%;
  width:20%;
  height: auto;
}
.its2{
  position: absolute;
  top:245%;
  left:17%;
  width:18%;
  height: auto;
}

.coupP{
  position: absolute;
  width:42%;
  height:auto;
  top:247%;
  left:60.5%;
}

.ad{
  position: absolute;
  width:32.8%;
  height: auto;
  top:240.3%;
  left:63.5%;


  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1000;
  animation-fill-mode: both;

}

.moveT,.moveT2,.moveT3,.moveT4,.moveT5{
  position: absolute;
  width:5.8%;
  height: auto;

  animation-iteration-count:5;
  animation-fill-mode: both;

}

.moveT{
    animation: move 4s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.moveT2{
    animation: move2 4s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.moveT3{
    animation: move3 4s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes move {
  0% {  top:244%; left:5%;}
  10% {  top:254%;left:10%; }
  20% {  top:254%;left:15%; }
  30% {  top:284%;left:20%;}
  40% {  top:284%; left:25%;}
  50% {  top:244%; left:30%;}
  60% {  top:244%;left:40%;}
  70% {  top:244%; left:50%;}
  80% {  top:264%; left:60%;}
  90% {  top:254%; left:80%;}
  100% {  top:244%; left:100%;}
}

@keyframes move2{
  0% {  top:254%; left:5%;}
  10% {  top:264%;left:10%; }
  20% {  top:244%;left:15%; }
  30% {  top:254%;left:20%;}
  40% {  top:284%; left:25%;}
  50% {  top:274%; left:30%;}
  60% {  top:244%;left:40%;}
  70% {  top:264%; left:50%;}
  80% {  top:264%; left:60%;}
  90% {  top:274%; left:80%;}
  100% {  top:284%; left:100%;}
}

@keyframes move3{
  0% {  top:233%; left:5%;}
  10% {  top:224%;left:10%; }
  20% {  top:244%;left:15%; }
  30% {  top:254%;left:20%;}
  40% {  top:274%; left:25%;}
  50% {  top:284%; left:30%;}
  60% {  top:254%;left:40%;}
  70% {  top:264%; left:50%;}
  80% {  top:284%; left:60%;}
  90% {  top:254%; left:80%;}
  100% {  top:234%; left:100%;}
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}

/* @media */
@media screen and (max-width: 850px) {
  .img-wrapper img {
    object-fit: cover;
    width:200px;
    height:200px;
    margin:10px;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  .its{
    position: absolute;
    top:98%;
    left:2%;
    width:20%;
    height: auto;
  }
  .its2{
    position: absolute;
    top:100%;
    left:20%;
    width:18%;
    height: auto;
  }
  .rightB img{
    float:right;
    display: block;
    margin-right:7%;
    width:9.5%;
    height:auto;
    margin-top:-15px;
  }

  .centerB img{
    width:9.5%;
    height:auto;
    margin-top:-15px;
  }

  .leftB img{
    float:left;
    display: block;
    margin-left:7%;
    width:9.5%;
    height:auto;
    margin-top:-15px;
  }
  .leftIMa {
    margin:10px;
    width:30%;
    height:25%;
  }
  @keyframes move {
    0% {  top:100.6%;left:-5%;}
    10% {  top:105%;left:5%; }
    20% {  top:108%;left:15%; }
    30% {  top:115%;left:33%;}
    40% {  top:114%;left:45%;}
    50% {  top:101%;;left:60%;}
    60% {  top:102%;left:70%;}
    70% {  top:116%;left:80%;}
    80% {  top:116%;left:90%;}
    90% {  top:116%;left:100%;}
    100% { top:116%;left:110%;}
  }
  @keyframes move2{
    0% {  top:100.6%;left:-5%;}
    10% {  top:105%;left:5%; }
    20% {  top:108%;left:15%; }
    30% {  top:115%;left:33%;}
    40% {  top:114%;left:45%;}
    50% {  top:101%;;left:60%;}
    60% {  top:102%;left:70%;}
    70% {  top:116%;left:80%;}
    80% {  top:116%;left:90%;}
    90% {  top:116%;left:100%;}
    100% { top:116%;left:110%;}
  }
  @keyframes move3{
    0% {  top:100.6%;left:-5%;}
    10% {  top:105%;left:5%; }
    20% {  top:108%;left:15%; }
    30% {  top:115%;left:33%;}
    40% {  top:114%;left:45%;}
    50% {  top:101%;;left:60%;}
    60% {  top:102%;left:70%;}
    70% {  top:116%;left:80%;}
    80% {  top:116%;left:90%;}
    90% {  top:116%;left:100%;}
    100% { top:116%;left:110%;}
  }
  .gallery{
    top:145%;
    width: 100%;
    height:50%;
  }
  .popUpS{
    top:215%;
  }
  .exploin{
    top:220%;
    font-size:3em;
    left:6.5%;
  }
  .navbarB{
    top:260%;
    height:5%;
  }
  .center img{
    width:7%;
    margin-top:-6.6px;
 }
 .popUpG2{
   display: block;
   width:25%;
   top:200%;
   left:38%;
 }
 .popUpG2 img{
   width: 100%;
 }
  .popUpG{
    width:55%;
    top:135%;
    left:22%;
  }
  .ad{
    width:32.8%;
    top:99%;
    left:65%;
  }
  .TheStrip{
    top:100.6%;
    height:18.6%;
  }
  .coupP{
    top:100.8%;
  }

  .popUpP{
    top:40%;
  }

  .popUpM{
    display: block;
    width:32%;
    top:80%;
    left:35%;
  }
  .popUpM img{
    width: 100%;
  }
   .navbar {
     font-size:1em;
     height:4%;
   }
   .discord{
     top:5%;
   }
   .Hex{
     font-size:2.5em;
     margin-top:12%;
   }
   .Dsl{
     font-size:6.75em;
   }
}
@media screen and (max-width: 450px) {
  .img-wrapper img {
    width:150px;
    height:150px;

  }
  .dropdown-content a {
    font-size:2em;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  .Pawn{
    width:27%;
    top:40%;
    left:37.5%;
  }

  .Pawn2,.Pawn3{
    width:26%;
    top:42%;
  }
  .Pawn2{
    left:73.5%;
  }
  .Pawn3{
    left:3.5%;
  }
  .text13,.text14,.text15{
    top:62.5%;
    font-size:1.5em;
  }
  .text13{
    left:8%;
  }

  .text14{
    left:45%;
  }
  .text15{
    left:79%;
  }

  .text23,.text24,.text25{
    top:60.5%;
    font-size:1.25em;
  }
  .text23{
    left:11%;
  }
  .text24{
    left:44.5%;
  }
  .text25{
    left:79%;
  }

  .its{
    position: absolute;
    top:78%;
    left:2%;
    width:20%;
    height: auto;
  }
  .its2{
    position: absolute;
    top:80%;
    left:18.5%;
    width:18%;
    height: auto;
  }
  .rightB img{
    float:right;
    display: block;
    margin-right:7%;
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }

  .centerB img{
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }

  .leftB img{
    float:left;
    display: block;
    margin-left:7%;
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }
  .leftIMa {
    margin:10px;
    width:25%;
    height:20%;
  }
  @keyframes move {
    0% {  top:71.6%;left:-5%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }
  @keyframes move2{
    0% {  top:71.6%;left:-5%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }
  @keyframes move3{
    0% {  top:71.6%;left:-5%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }

  .popUpG{
    width:55%;
    top:100%;
    left:22%;
  }
  .gallery{
    top:110%;
    width: 100%;
    height:50%;
  }
  .popUpS{
    top:198%;
  }
  .exploin{
    top:200%;
    font-size:2em;
    left: 4%;
  }
  .navbarB{
    top:340%;
    height:5%;
  }
  .popUpG2{
    display: block;
    width:35%;
    top:185%;
    left:32%;
  }
  .popUpG2 img{
    width: 100%;
  }
  .ad{
    width:32.8%;
    top:78%;
    left:64.5%;
  }
  .coupP{
    top:80%;
  }
  .TheStrip{
    top:79.6%;
    height:16.8%;
  }
  .popUpP{
    top:33%;
  }

  .popUpM{
    display: block;
    width:32%;
    top:71%;
    left:35%;
  }
  .popUpM img{
    width: 100%;
  }
   .navbar {
     font-size:1em;
     height:6.75%;
   }
   .right{
     padding:0.2em 0.2em;
     margin-right:5%;
     letter-spacing: 2px;
   }

   .left{
     padding:0.2em 0.2em;
     margin-left:5%;
     letter-spacing: 2px;
   }
   .center2 img{
     width:15.5%;
     right:340px;
  }
   .center img{
     width:8.5%;
     margin-top:-2px;
  }
   .discord{
     top:5%;
   }
   .Hex{
     font-size:1.5em;
     margin-top:10%;
   }
   .Dsl{
     font-size:3.75em;
   }
}

@media screen and (max-width: 375px) {
  .img-wrapper img {
    width:150px;
    height:150px;
    margin:1px;

  }
  .dropdown-content a {
    font-size:2em;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  .Pawn{
    width:23%;
    top:36%;
    left:40%;
  }

  .Pawn2,.Pawn3{
    width:20%;
    top:39%;
  }
  .Pawn2{
    left:73.5%;
  }
  .Pawn3{
    left:3.5%;
  }
  .text13,.text14,.text15{
    top:52.5%;
    font-size:1.5em;
  }
  .text13{
    left:4%;
  }

  .text14{
    left:45%;
  }
  .text15{
    left:75%;
  }

  .text23,.text24,.text25{
    top:57.5%;
    font-size:1em;
  }
  .text23{
    left:8%;
  }
  .text24{
    left:46.5%;
  }
  .text25{
    left:79%;
  }
  .its{
    position: absolute;
    top:70%;
    left:2%;
    width:20%;
    height: auto;
  }
  .its2{
    position: absolute;
    top:72%;
    left:20%;
    width:18%;
    height: auto;
  }
  .rightB img{
    float:right;
    display: block;
    margin-right:7%;
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }

  .centerB img{
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }

  .leftB img{
    float:left;
    display: block;
    margin-left:7%;
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }
  .leftIMa {
    margin:10px;
    width:25%;
    height:20%;
  }
  @keyframes move {
    0% {  top:71.6%;left:2%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }
  @keyframes move2 {
    0% {  top:78.6%;left:2%;}
    10% {  top:79%;left:5%; }
    20% {  top:75%;left:15%; }
    30% {  top:79%;left:33%;}
    40% {  top:84%;left:45%;}
    50% {  top:81%;left:60%;}
    60% {  top:79%;left:70%;}
    70% {  top:82%;left:80%;}
    80% {  top:79%;left:90%;}
    90% {  top:78%;left:100%;}
    100% { top:79%;left:110%;}
  }
  @keyframes move3 {
    0% {  top:71.6%;left:2%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }

  .moveT{
      animation: move 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
  }

  .moveT2{
      animation: move2 0.5s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
  }

  .moveT3{
      animation: move3 0.75s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
  }

  .gallery{
    top:110%;
    width: 100%;
    height:50%;
  }
  .popUpS{
    top:200%;
    width:55%;
    left:24%;
  }
  .exploin{
    top:205%;
    font-size:2em;
    left: 4%;
  }
  .navbarB{
    top:380%;
    height:5%;
  }
  .ad{
    width:32.8%;
    top:70.6%;
    left:64.5%;
  }
  .coupP{
    top:72.75%;
  }
  .popUpG2{
    display: block;
    width:40%;
    top:190%;
    left:31%;
  }
  .popUpG2 img{
    width: 100%;
  }
  .popUpG{
    width:55%;
    top:100%;
    left:22%;
  }
  .TheStrip{
    top:71.6%;
    height:17.7%;
  }

  .popUpP{
    top:30%;
  }

  .popUpM{
    display: block;
    width:32%;
    top:65%;
    left:35%;
  }
  .popUpM img{
    width: 100%;
  }
   .navbar {
     font-size:0.65em;
     height:6.55%;
     width: 90%;
   }
   .center img{
       width:8.5%;
  }
  .center2 img{
      width:13.5%;
      right:270px;
 }
   .discord{
     top:2.5%;
   }
   .Hex{
     font-size:1em;
     margin-top:10%;
   }
   .Dsl{
     font-size:2.75em;
   }
}


@media screen and (max-width: 320px) {
  .img-wrapper img {
    width:100px;
    height:100px;
  }
  .dropdown-content a {
    font-size:2em;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  .Pawn{
    width:23%;
    top:36%;
    left:40%;
  }

  .Pawn2,.Pawn3{
    width:20%;
    top:39%;
  }
  .Pawn2{
    left:73.5%;
  }
  .Pawn3{
    left:3.5%;
  }
  .text13,.text14,.text15{
    top:52.5%;
    font-size:1.5em;
  }
  .text13{
    left:4%;
  }

  .text14{
    left:45%;
  }
  .text15{
    left:75%;
  }

  .text23,.text24,.text25{
    top:57.5%;
    font-size:1em;
  }
  .text23{
    left:8%;
  }
  .text24{
    left:46.5%;
  }
  .text25{
    left:79%;
  }
  .its{
    position: absolute;
    top:70%;
    left:2%;
    width:20%;
    height: auto;
  }
  .its2{
    position: absolute;
    top:72%;
    left:20%;
    width:18%;
    height: auto;
  }
  .rightB img{
    float:right;
    display: block;
    margin-right:7%;
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }

  .centerB img{
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }

  .leftB img{
    float:left;
    display: block;
    margin-left:7%;
    width:12.5%;
    height:auto;
    margin-top:-10px;
  }
  .leftIMa {
    margin:10px;
    width:25%;
    height:20%;
  }
  @keyframes move {
    0% {  top:71.6%;left:-5%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }
  @keyframes move2 {
    0% {  top:78.6%;left:-5%;}
    10% {  top:79%;left:5%; }
    20% {  top:75%;left:15%; }
    30% {  top:79%;left:33%;}
    40% {  top:84%;left:45%;}
    50% {  top:81%;left:60%;}
    60% {  top:79%;left:70%;}
    70% {  top:82%;left:80%;}
    80% {  top:79%;left:90%;}
    90% {  top:78%;left:100%;}
    100% { top:79%;left:110%;}
  }
  @keyframes move3 {
    0% {  top:71.6%;left:-5%;}
    10% {  top:75%;left:5%; }
    20% {  top:78%;left:15%; }
    30% {  top:85%;left:33%;}
    40% {  top:74%;left:45%;}
    50% {  top:71%;left:60%;}
    60% {  top:72%;left:70%;}
    70% {  top:76%;left:80%;}
    80% {  top:76%;left:90%;}
    90% {  top:76%;left:100%;}
    100% { top:76%;left:110%;}
  }

  .moveT{
      animation: move 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
  }

  .moveT2{
      animation: move2 0.5s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
  }

  .moveT3{
      animation: move3 0.75s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
  }

  .gallery{
    top:110%;
    width: 100%;
    height:50%;
  }
  .popUpS{
    top:200%;
    width:55%;
    left:24%;
  }
  .exploin{
    top:205%;
    font-size:2em;
    left: 4%;
  }
  .navbarB{
    top:460%;
    height:5%;
  }
  .ad{
    width:32.8%;
    top:70.6%;
    left:64.5%;
  }
  .coupP{
    top:72.75%;
  }
  .popUpG2{
    display: block;
    width:40%;
    top:190%;
    left:31%;
  }
  .popUpG2 img{
    width: 100%;
  }
  .popUpG{
    width:55%;
    top:100%;
    left:22%;
  }
  .TheStrip{
    top:71.6%;
    height:17.7%;
  }

  .popUpP{
    top:30%;
  }

  .popUpM{
    display: block;
    width:32%;
    top:65%;
    left:35%;
  }
  .popUpM img{
    width: 100%;
  }
   .navbar {
     font-size:0.65em;
     height:6.55%;
   }
   .center img{
       width:8.5%;
  }
  .center2 img{
      width:13.5%;
      right: 320px;
 }
   .discord{
     top:2.5%;
   }
   .Hex{
     font-size:1em;
     margin-top:10%;
   }
   .Dsl{
     font-size:2.75em;
   }
}
@media only screen and (max-width:1920px)and (min-width:1620px) {

  .Hex{
    font-size:5em;
    margin-top:10%;
    margin-bottom: 1%;
  }
  .Dsl{
    font-size:13.75em;
  }
  .navbar {
    font-size:2em;
    height:7%;
  }
  .center img{
      width:5%;
 }
 .TheStrip{
   height:63.3%;
 }
 .popUpG2{
   top:445%;
   display: block;
   width:20%;
   left:41%;
 }
 .popUpG2 img{
   width: 100%;
 }
 .popUpS{
   top:500%;
 }
 .exploin{
   top:515%;
   font-size:2em;
   left:0.25%;
 }
 .navbarB{
   top:675%;
   height:8%;
 }
 .ad{
   width:32.8%;
   top:241%;
   left:64%;
 }
 .coupP{
   top:248.9%;
 }
}
